  @model IEnumerable<Invento.Areas.Purchase.Models.PurchaseBill>

@{
    ViewData["Title"] = "Canceled Import Bills";
    if (User.IsInRole("CompanyAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutCompanyUser.cshtml";
    }
}

<div class="well" style="padding-bottom:5px">
    <div class="row">
        <span style="font-family:'Times New Roman', Times, serif ; font-weight:bolder ; font-size:x-large ; margin-left:15px">@ViewData["Title"]</span>     
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="MyTable">
        <thead>
            <tr class="active">
                <th></th>
                <th>
                    ID
                </th>
                <th>
                    Date
                </th>
                <th>
                    Person
                </th>
                <th>
                    Gross Total
                </th>
                <th>
                    Discount
                </th>
                <th>
                    Net Amount
                </th>
                <th>
                    Parties
                </th>
                <th>
                    Qty.
                </th>
                <th>
                    T-Landing Exp
                </th>
                @if (User.IsInRole("View Import Bills Details") || User.IsInRole("CompanyAdmin"))
            {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

    @section Scripts{
        <script>

            function format(d) {
                // `d` is the original data object for the row
                return '<div class="child-container">' +
                    '<table cellpadding="5" cellspacing="0" border="0">' +
                        '<tr>' +
                            '<td style="font-weight:bolder">Remark:</td>' +
                            '<td>' + d.remarks + '</td>' +
                            '<td style="font-weight:bolder">Phone:</td>' +
                            '<td>' + d.phone1 + '</td>' +
                            '<td style="font-weight:bolder">Currency:</td>' +
                            '<td>' + d.currencyName + '</td>' +
                            '<td style="font-weight:bolder">Canceled By:</td>' +
                            '<td>' + d.createdBy + '</td>' +
                        '</tr>' +

                    '</table>' +
                '</div>';
            }

            $(document).ready(function () {
                var table = $('#MyTable').DataTable({

                    dom: 'lBfrtip',
                    buttons: [
                        {
                            "extend": 'print',
                            "title": "Canceled Import Bills",
                            "text": "Print",
                            "autoPrint": true,
                            exportOptions: {
                                "columns": ':visible',
                            }
                        },
                        {
                            "extend": 'excel',
                            "title": "Canceled Import Bills",
                            "text": "Excel",
                            exportOptions: {
                                "columns": ':visible',
                            }
                        },
                        {
                            "extend": 'pdf',
                            "title": "Canceled Import Bills",
                            "text": "PDF",
                            exportOptions: {
                                "columns": ':visible',
                            }
                        },
                        'colvis',
                    ],

                    "ajax": {
                        "url": "/Purchase/Purchase/LoadCanceImportBills",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                         {

                             "class": 'details-control',
                             "orderable": false,
                             "data": null,
                             "defaultContent": ''
                         },
                         { "data": "purchaseBillID", "autpWidth": true, "order": [0, 'desc'] },
                         { "data": "billDate", "autpWidth": true },
                         { "data": "contactPerson", "autpWidth": true },
                         { "data": "grossTotal", "autpWidth": true },
                         { "data": "tDiscount", "autpWidth": true },
                         { "data": "netAmount", "autpWidth": true },
                         { "data": "partyName", "autpWidth": true },
                         { "data": "totalQuantity", "autpWidth": true },
                         { "data": "tLandingExpenses", "autpWidth": true },
                            @if(User.IsInRole("View Import Bills Details") || User.IsInRole("CompanyAdmin"))
                {
                            <text>
                         {
                             "data": null,
                             "mRender": function (data, type, row) {
                                 return $("<div />")
                                     .append($(" <div class='text-center'> <a class='btn btn-sm btn-default ' target='_blank' href='/Purchase/Purchase/ImportDetails?id=" + data.purchaseBillID + "'><span class='glyphicon glyphicon-eye-open'></span></a>   </div> "))
                                     .html();
                             }
                             </text>
                     }
                         }
                    ],
                    "order": [[1, 'desc']]
                });

                // Add event listener for opening and closing details
                $('#MyTable tbody').on('click', 'td', function () {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    }
                    else {
                        // Open this row
                        row.child(format(row.data()), 'no-padding').show();
                        tr.addClass('shown');

                    }
                });

                $('#MyTable tbody').on('click', 'td > button', function (e) {

                    @*@Html.ActionLink("Edit", "CountryEdit", "SiteAdmin", new { area= "SiteAdmin" ,id= "d.CountryID" }, null)*@

                    alert('Tada!');
                    return false;
                });
            });
        </script>
    }
