@{
    ViewData["Title"] = "Confirm Email - ";
    if (User.IsInRole("CompanyAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyAdmin.cshtml";
    }
    else if (User.IsInRole("CompanyUser"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyUser.cshtml";
    }
    else if (User.IsInRole("SiteAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutSiteAdmin.cshtml";
    }
    else
    {
        Layout = "_Layout";
    }
}

<header>
    <section class="hero">
        <div class="texture-overlay"></div>
        <div class="container">
            <div class="row nav-wrapper">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <a asp-controller="Home" asp-action="Index" style="font-size:xx-large ; font-family:'Nunito'">Biznsbook</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
                    <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
                </div>
            </div>
            <div class="row hero-content">
                <div class="col-md-12">
                    <h1 class="animated fadeInDown">Thank you for confirming your email. Please Click to Log In.</h1>
                    <a asp-area="" asp-controller="Account" asp-action="Login" class="use-btn animated fadeInUp" style="font-weight:900;color:red">Customer Login</a>                    
                </div>
            </div>
        </div>
    </section>
</header>

