@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password - ";
    if (User.IsInRole("CompanyAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyAdmin.cshtml";
    }
    else if (User.IsInRole("CompanyUser"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyUser.cshtml";
    }
    else if (User.IsInRole("SiteAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutSiteAdmin.cshtml";
    }
    else
    {
        Layout = "_Layout";
    }
}


<header>
    <section class="hero">
        <div class="texture-overlay"></div>
        <div class="container">
            <div class="row nav-wrapper">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <a asp-controller="Home" asp-action="Index" style="font-size:xx-large ; font-family:'Nunito'">Biznsbook</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
                    <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
                </div>
            </div>
            <div class="row hero-content">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                <div class="col-md-6 col-md-offset-3" style="background-color:lavender">
                    <br />
                    <br />

                    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                        <h3 style="color:black;font-weight:900;padding-left:20px">Enter your Email Address to Reset Password.</h3>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger" style="color:firebrick;font-weight:bolder;padding-left:20px"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-md-3 control-label" style="color:black ;font-family:'Bookman Old Style'"></label>
                            <div class="col-md-7">
                                <input asp-for="Email" class="form-control" required />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-8 col-md-6">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</header>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
