@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password - ";
    if (User.IsInRole("CompanyAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyAdmin.cshtml";
    }
    else if (User.IsInRole("CompanyUser"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyUser.cshtml";
    }
    else if (User.IsInRole("SiteAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutSiteAdmin.cshtml";
    }
    else
    {
        Layout = "_Layout";
    }
}

<header>
    <section class="hero">
        <div class="texture-overlay"></div>
        <div class="container">
            <div class="row nav-wrapper">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <a asp-controller="Home" asp-action="Index" style="font-size:xx-large ; font-family:'Nunito'">Biznsbook</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
                    <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
                </div>
            </div>
            <div class="row hero-content">
                <br />
                <br />
               
                <div class="col-md-6 col-md-offset-3" style="background-color:lavender">               
                    <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">
                        <br />
                        <h3 style="color:black;font-weight:900;padding-left:20px">Reset Password.</h3>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Code" type="hidden" />
                        <div class="form-group">
                            <label asp-for="Email" style="color:black ;font-family:'Bookman Old Style'" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="Email" class="form-control" required />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" style="color:black ;font-family:'Bookman Old Style'" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="Password" class="form-control" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" style="color:black ;font-family:'Bookman Old Style'" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="ConfirmPassword" class="form-control" required />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-6">
                                <button type="submit" class="btn btn-primary">Reset</button>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </section>
</header>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 class="footer-logo">
                    <a href="#" style="font-size:xx-large ; font-family:'Nunito'">Biznsbook</a>
                </h1>
                <p>Cloud Based POS &amp; Accounting Software</p>
            </div>
            <div class="col-md-9">
                <ul class="footer-nav">
                    <li style="font-weight:bolder"><a asp-area="" asp-controller="Home" asp-action="About">About US</a></li>
                    <li style="font-weight:bolder"><a asp-area="" asp-controller="Home" asp-action="Pricing">Pricing</a></li>
                    <li style="font-weight:bolder"><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                    <li style="font-weight:bolder"><a asp-area="" asp-controller="Home" asp-action="CustomerSupport">Customer Support</a></li>
                </ul>
                <br /><br />
                <ul class="footer-nav">
                    <li style="font-weight:bolder"><a href="https://www.youtube.com/channel/UCBQJmYpnFH4caKLjt7Xi-Tw" target="_blank">Youtube</a></li>
                    <li style="font-weight:bolder"><a href="https://www.facebook.com/BiznsBook-715116301980915/" target="_blank">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="overlay overlay-boxify">
    <nav>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Features"><i class="fa fa-heart"></i>Features</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Pricing"><i class="fa fa-heart"></i>Pricing</a></li>
        </ul>
        <ul>
            <li><a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-heart"></i>Customer Login</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About"><i class="fa fa-heart"></i>About Us</a></li>
        </ul>
    </nav>
</div>














<form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">
    <h4>Reset your password.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Reset</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
