@model Invento.Areas.Reports.Models.AnalysisVM
@{
    ViewData["Title"] = "Analysis";
    if (User.IsInRole("CompanyAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutCompanyUser.cshtml";
    }
}

<div class="">
    <div class="well" style="padding-bottom:5px">
        <div class="row">
            <span class="glyphicon glyphicon-stats glyphicon-bold " style="font-size: 1.5em; padding-left:10px;color:darkblue" aria-hidden="true"></span>
            <span style="font-family:'Times New Roman', Times, serif ; font-weight:bolder ; font-size:x-large ; margin-left:15px">Analysis</span>
        </div>
    </div> 
</div>
  

<div class="row">
    <div class="col-lg-5 col-lg-offset-1 " data-toggle="tooltip" data-placement="bottom" title="Voucher View Chart Analysis">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="panel-title" style="font-size:large">
                    <a asp-action="VoucherView" asp-controller="Analysis" asp-area="Reports" target="_blank">Voucher View Chart Analysis</a>
                    <span class="pull-right">
                        <i class="glyphicon glyphicon-cog"></i>
                    </span>
                </p>
            </div>
            <div class="panel-body">
                <a asp-action="VoucherView" asp-controller="Analysis" asp-area="Reports" target="_blank">
                    <div class="col-lg-12">
                        <img src="~/images/PieChart.png" width="450" height="200" />
                    </div>

                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-5" data-toggle="tooltip" data-placement="bottom" title="Amount Receivable &amp; Payable View">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="panel-title" style="font-size:large">
                    <a asp-action="AmountView" asp-controller="Analysis" asp-area="Reports" target="_blank">Amount Receivable &amp; Payable View</a>
                    <span class="pull-right">
                        <i class="glyphicon glyphicon-adjust"></i>
                    </span>
                </p>
            </div>
            <div class="panel-body">
                <a asp-action="AmountView" asp-controller="Analysis" asp-area="Reports" target="_blank">
                    <div class="col-lg-12">
                        <img src="~/images/DountChart.png" width="470" height="200" />
                    </div>

                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-5 col-lg-offset-1 " data-toggle="tooltip" data-placement="bottom" title="Purchase Sale Chart Analysis">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="panel-title" style="font-size:large">
                    <a asp-action="PurchaseSaleViewYearly" asp-controller="Analysis" asp-area="Reports" target="_blank"> Sale Purchase Yearly Analysis</a>
                    <span class="pull-right">
                        <i class="glyphicon glyphicon-flash"></i>
                    </span>
                </p>
            </div>
            <div class="panel-body">
                <a asp-action="PurchaseSaleViewYearly" asp-controller="Analysis" asp-area="Reports" target="_blank">
                    <div class="col-lg-12">
                        <img src="~/images/LineChart.jpg" width="470" height="200" />
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-5 " data-toggle="tooltip" data-placement="bottom" title="Purchase Sale Chart Analysis">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="panel-title" style="font-size:large">
                    <a asp-action="PurchaseSaleViewMonthly" asp-controller="Analysis" asp-area="Reports" target="_blank"> Sale Purchase Monthly Analysis</a>
                    <span class="pull-right">
                        <i class="glyphicon glyphicon-signal"></i>
                    </span>
                </p>
            </div>
            <div class="panel-body">
                <a asp-action="PurchaseSaleViewMonthly" asp-controller="Analysis" asp-area="Reports" target="_blank">
                    <div class="col-lg-12">
                        <img src="~/images/LineChart2.jpg" width="470" height="200" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
    