

<div class="well" style="padding-bottom:5px">
    <div class="row">
        <span style="font-family:'Times New Roman', Times, serif ; font-weight:bolder ; font-size:x-large ; margin-left:15px">@ViewData["Title"]</span>
        
        <a asp-action="Create" class="btn btn-default pull-right" style="margin-right:50px"><span class="glyphicon glyphicon-plus"></span> Add New </a>
    </div>
</div>