@model Invento.Areas.Finance.Models.MainAccount
 
<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-weight:bolder">Edit Main Account</h4>
    </div>
    <div class="modal-body">

        <form asp-action="EditMainAccount" id="MyForm">
            <div class="form-horizontal">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <input type="hidden" asp-for="MainAccountID" />

                <div class="form-group">
                    <label asp-for="MainAccountNumber" class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <input asp-for="MainAccountNumber" class="form-control" required readonly/>
                        <span asp-validation-for="MainAccountNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="AccountName" class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <input asp-for="AccountName" class="form-control" required />
                        <span asp-validation-for="AccountName" class="text-danger"></span>
                    </div>
                </div>

                <div class="modal-footer">                    
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script>

    $().ready(function () {

        $("#MyForm").validate({
            rules: {
                MainAccountNumber: {
                    required: true,
                    maxlength: 2,
                    digits: true
                    //lettersonly: true
                }
            },
            messages:
                {
                    required: "Please Enter Account Number.",
                    maxlength: "Please Enter Max 2 digits.",
                    digits: "Please Enter only digits."
                }
        })
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


