 @model Invento.Areas.Payment.Models.CashReceipt

@{
    ViewData["Title"] = "Cash Receipt";
    if (User.IsInRole("CompanyAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutCompanyUser.cshtml";
    }
}

<form asp-action="Edit" id="MyForm">
    <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CashReceiptID" />
        <div class="well" style="padding-bottom:5px">
            <div class="row">
                <span style="font-family:'Times New Roman', Times, serif ; font-weight:bolder ; font-size:x-large ; margin-left:15px">Cash Receipt Voucher - CRV</span>
                <button type="submit" class="btn btn-default pull-right" style="margin-right:50px ; font-weight:bolder" title="Edit Voucher">
                    <i class="glyphicon glyphicon-save"></i> Save
                </button>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label asp-for="CurrencyID" class="col-md-2 control-label"></label>
                <label asp-for="ExternalRef" class="col-md-3 control-label"></label>
                <label asp-for="Date" class="col-md-2 control-label"></label>
                <label asp-for="PaidBy" class="col-md-2 control-label"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <select asp-for="CurrencyID" class="form-control" asp-items="ViewBag.CurrencyID"></select>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <input asp-for="ExternalRef" class="form-control" />
                <span asp-validation-for="ExternalRef" class="text-danger" />
            </div>
            <div class="col-md-offset-1 col-md-2">
                <input asp-for="Date" class="form-control" required />
                <span asp-validation-for="Date" class="text-danger" />
            </div>
            <div class="col-md-3">
                <input asp-for="PaidBy" class="form-control" />
                <span asp-validation-for="PaidBy" class="text-danger" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <label asp-for="PartiesID" class="col-md-3 control-label"></label>
                <label asp-for="Amount" class="col-md-2 control-label"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <select asp-for="PartiesID" class="form-control" asp-items="ViewBag.PartiesID" required>
                    <option disabled selected>Select ...</option>
                </select>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <input asp-for="Amount" class="form-control" required onchange="NumberToWords();"  />
                <span asp-validation-for="Amount" class="text-danger" />
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option selected>Cash In Hand</option>
                </select>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="form-group">
                <label asp-for="AmountInWords" class="col-md-2 col-md-offset-1 control-label"></label>
                <label asp-for="Particulars" class="col-md-1 col-md-offset-3 control-label"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <textarea asp-for="AmountInWords" class="form-control col-md-offset-2" rows="5" cols="5"></textarea>
                <span asp-validation-for="AmountInWords" class="text-danger" />
            </div>
            <div class="col-md-6">
                <textarea asp-for="Particulars" class="form-control col-md-offset-2" rows="5" cols="5"></textarea>
                <span asp-validation-for="Particulars" class="text-danger" />
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#MyForm").validate();

        var d = new Date();
        var month = d.getMonth() + 1;
        var day = d.getDate();

        var output = d.getFullYear() + '-' +
            (month < 10 ? '0' : '') + month + '-' +
            (day < 10 ? '0' : '') + day;
        $('#Date').val(output);
    });


    function NumberToWords() {
        debugger;
        var amount = $('#Amount').val();
        var num = parseFloat(amount);

        var a = ['', 'One ', 'Two ', 'Three ', 'Four ', 'Five ', 'Six ', 'Seven ', 'Eight ', 'Nine ', 'Ten ', 'Eleven ', 'Twelve ', 'Thirteen ', 'Fourteen ', 'Fifteen ', 'Sixteen ', 'Seventeen ', 'Eighteen ', 'Nineteen '];
        var b = ['', '', 'Twenty', 'Thirty', 'Forty', 'Fifty', 'Sixty', 'Seventy', 'Eighty', 'Ninety'];

        if ((num = num.toString()).length > 9) return 'overflow';
        n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
        if (!n) return; var str = '';
        str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'Crore ' : '';
        str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'Lac ' : '';
        str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'Thousand ' : '';
        str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'Hundred ' : '';
        str += (n[5] != 0) ? ((str != '') ? 'and ' : '') + (a[Number(n[5])] || b[n[5][0]] + ' ' + a[n[5][1]]) + 'Only ' : '';

        $('#AmountInWords').val(str);
    }


</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
