  @model IEnumerable<Invento.Areas.Purchase.Models.PurchaseReturn>

@{
    ViewData["Title"] = "Purchase Invoices Returns";
    if (User.IsInRole("CompanyAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutCompanyUser.cshtml";
    }
}

<div class="well" style="padding-bottom:5px">
    <div class="row">
        <span style="font-family:'Times New Roman', Times, serif ; font-weight:bolder ; font-size:x-large ; margin-left:15px">@ViewData["Title"]</span>
   </div>
</div> 

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="MyTable">
        <thead>
            <tr class="active">
                <th></th>
                <th>
                    ID
                </th>
                <th>
                    Date
                </th>
                <th>
                    Party Name
                </th>
                <th>
                    Return Qty.
                </th>
                <th>
                    Receivable
                </th>
                <th>
                    OEM No.
                </th>
                <th>
                    Old Qty.
                </th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{
    <script>

        function format(d) {
            // `d` is the original data object for the row
            return '<div class="child-container">' +
                '<table cellpadding="5" cellspacing="0" border="0">' +
                    '<tr>' +
                        '<td style="font-weight:bolder">Contact Person:</td>' +
                        '<td>' + d.contactPerson + '</td>' +
                        '<td style="font-weight:bolder">Phone:</td>' +
                        '<td>' + d.contactNumber + '</td>' +
                        '<td style="font-weight:bolder">Item Name:</td>' +
                        '<td>' + d.itemName + '</td>' +
                         '<td style="font-weight:bolder">Remarks:</td>' +
                        '<td>' + d.remarks + '</td>' +
                        '<td style="font-weight:bolder">Created By:</td>' +
                                '<td>' + d.createdBy + '</td>' +
                    '</tr>' +

                '</table>' +
            '</div>';
        }

        $(document).ready(function () {
            var table = $('#MyTable').DataTable({

                dom: 'lBfrtip',
                buttons: [
                    {
                        "extend": 'print',
                        "title": "Purchase Returns",
                        "text": "Print",
                        "autoPrint": true,
                        exportOptions: {
                            "columns": ':visible',
                        }
                    },
                    //'colvis',
                    {
                        "extend": 'excel',
                        "title": "Purchase Returns",
                        "text": "Excel",
                        exportOptions: {
                            "columns": ':visible',
                        }
                    },
                    //'colvis',
                    {
                        "extend": 'pdf',
                        "title": "Purchase Returns",
                        "text": "PDF",
                        exportOptions: {
                            "columns": ':visible',
                        }
                    },
                         {
                             extend: 'colvis',
                             collectionLayout: 'fixed two-column'
                         }
                ],

                "ajax": {
                    "url": "/Purchase/PurchaseReturn/LoadPurchaseReturns",
                    "type": "GET",
                    "datatype":"json"
                },
                "columns": [
                     {

                         "class": 'details-control',
                         "orderable": false,
                         "data": null,
                         "defaultContent": ''
                     },
                     { "data": "purchaseReturnID", "autpWidth": true },
                     { "data": "billDate", "autpWidth": true },
                     { "data": "partyName", "autpWidth": true },                      
                     { "data": "returnQuantity", "autpWidth": true },
                     { "data": "amountToReceive", "autpWidth": true },
                     { "data": "oemNo", "autpWidth": true },
                     { "data": "oldQuantity", "autpWidth": true },                    
                ],
                "order": [[1, 'desc']]
            });

            // Add event listener for opening and closing details
            $('#MyTable tbody').on('click', 'td', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data()), 'no-padding').show();
                    tr.addClass('shown');

                }
            });
           
            $('#MyTable tbody').on('click', 'td > button', function (e) {

               @*@Html.ActionLink("Edit", "CountryEdit", "SiteAdmin", new { area= "SiteAdmin" ,id= "d.CountryID" }, null)*@

                alert('Tada!');
                return false;
            });
        });
    </script>
}


