@model Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole
@{    
    ViewData["Title"] = "Site Admin";
    Layout = "~/Views/Shared/_LayoutSiteAdmin.cshtml";
}

<h2>Create Site Role</h2>

<form asp-area="SiteAdmin" asp-controller="SiteRoles" asp-action="Create" class="form-control" method="post">
     
    <table id="tbrole">
        <tr>
            <td class="c">Enter Role Name To be Created:</td>
            <td class="c">
                <input asp-for="Name" class="form-control" required />                
            </td>
        </tr>
    </table>
    <input type="submit" value="Create Role" />
   </form>
