@{
    ViewData["Title"] = "Thank you";
    if (User.IsInRole("CompanyAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyAdmin.cshtml";
    }
    else if (User.IsInRole("CompanyUser"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyUser.cshtml";
    }
    else if (User.IsInRole("SiteAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutSiteAdmin.cshtml";
    }
    else
    {
        Layout = "_Layout";
    }
}

<header>
    <section class="hero">
        <div class="texture-overlay"></div>
        <div class="container">
            <div class="row nav-wrapper">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <a asp-controller="Home" asp-action="Index" style="font-size:xx-large ; font-family:'Nunito'">Biznsbook</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
                    <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
                </div>
            </div>
            <div class="row hero-content">
                <div class="col-md-12">
                    <h1 class="animated fadeInDown">Thankyou for contacting us we will soon get in touch with you.</h1>                    
                    <a asp-area="" asp-controller="Home" asp-action="Features"  class="learn-btn animated fadeInUp">View Our Product Features<i class="glyphicon glyphicon-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </section>
</header>
